
body{

	background-image: linear-gradient(to right, #1C3454,#005E80,#43587B,#3F5476 ) ;
}

#heading1{
		text-align: center;
		background-color: #1c3454  ;
		color: whitesmoke;
		font-family: ;
		
}

#heading2{
	text-align: center;
		background-color: #1c3454  ;
		color: lightsteelblue;
		font-family: ;
		

}

#whotext{
		background-color: #1c3454  ;
		color: whitesmoke ;
		font-style: bold;
		font-weight: bolder;


		border: 5px  solid #E0F1FF;
		border-radius: 5px;
		padding: 13px 13px 13px 20px;
		margin:  auto;
}

#picture{

}
th{
	background-color: #DAA21B;
	border: 5px  solid #707788;
		border-radius: 5px;
		padding: 13px 13px 13px 20px;
		margin:  auto;

}
td{
	background-color: #DAA21B;
	border: 5px  solid #707788;
		border-radius: 5px;
		padding: 13px 13px 13px 20px;
		margin:  auto;

}
.location a:visited {
		background-color: blue ;
		color: white;

}



.part-a {
  display: flex;
  justify-content: center;
}
.part-a img {
  width: 250px;
  height: 150px;
}
#img1 {
}
#img2 {
  /* margin-top: 14px; */
  height: 175px;
}
.part-b {
  display: flex;
  justify-content: center;
}
.part-b a img {
  width: 50px;
  height: 50px;
}
.part-b a {
  margin-left: 30px;
}
.copyRight {
  margin-left: 39%;
}




/* -------------------------------------------payment page----------------------------------------------- */

#set1{
	font-family: 'poppins', sans-serif;
	margin: 25px; padding: 25px;
	box-sizing: border-box;
	outline: none; border: none;
	text-transform: capitalize;
	transition: all .2s linear;}

.payment{

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px;
	min-height: 100vh;
	background: linear-gradient(to right, #1C3454  ,#E0F1FF );
	padding: 20px;
}

.payment form {

	padding: 20px ;
	width: 700px;
	background:#fff ;
	box-shadow: 0 5px 10px;
	margin:auto;
  text-align: left;

}
.payment form .row{
	display: felx;
	flex-wrap: wrap;
	gap: 15px;

}
.payment form .row .col{
	flex: 1px 1px 250px;
}

